.main {
	min-height: 400px;
	background-color: #ddd;
	position: relative;
}
.text1, .text2, .text3, .text4, .text5 {
	width: 100px;
	height: 100px;
	position: absolute;
}
.text1 {
	background-color: red;
}

.text2 {
	background-color: green;
	top: 0;
	right: 0;
}

.text3 {
	background-color: yellow;
	bottom: 0;
	left: 0;
}

.text4 {
	background-color: blue;
	bottom: 0;
	right: 0;
}
.text5 {
	background-color: black;
	left: 0;
	right: 0;
	margin: 150px auto;
}